body {
	font-family: Roboto;
}

.wrapper {
	max-width: 500px;
	margin: auto;
	padding: 1000px 0;
}

.attention {
    background: hsla(0, 0%, 96%, 1);
    margin: 5px 0;
    padding: 25px;
    border-left: 4px solid #5cb3ff;
    font-size: 18px;
    font-weight: lighter;
}

.info-popup {
	background: hsla(0, 0%, 90%, 1);
    padding: 10px;
	font-size: 15px;
    border-radius: 2px;
    max-width: 250px;
    opacity: 0;
}

.info-popup.active {
	opacity: 1;
}